<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Appearance Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissAppearanceSettings()" slot='end'>
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Toggle Color Theme</ion-label>
    <ion-toggle (ionChange)="onToggleColorTheme($event)" [(checked)]="storage.prefersDarkTheme"></ion-toggle>
  </ion-item>
</ion-content>
