<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large" color="primary">Home</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card>
        <ion-card-content class="ion-text-center">
            <circle-progress [percent]="progress" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#2472f0'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300" [unitsFontSize]="'40'" [titleFontSize]="'40'"
                [titleColor]="'#2472f0'" [unitsColor]="'#2472f0'" [subtitleFontSize]="'15'" [startFromZero]="false" [maxPercent]="100"></circle-progress>
            <br/>
            <ion-button (click)="setProgress()">click me to add 10%!</ion-button>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-title color="primary">Safe</ion-title>
            <ion-card>
                <ion-card-content>hello</ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-content>something</ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-content>else</ion-card-content>
            </ion-card>
        </ion-card-content>
    </ion-card>
</ion-content>